body{
  font-family: Arial, sans-serif;
  margin:20px;
  padding:0;
background: #4a4346;
background: radial-gradient(circle, rgba(74, 67, 70, 1) 0%, rgba(184, 163, 116, 1) 100%);
}
img {
width: 600px;
height: 400px;
margin: 20px;
padding: 0;
}
h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  background: #888d4e
}